
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  all: unset;
}

.App{
  box-sizing: border-box;
}

.day-mood{
  background: #f8f8f8;
  color: #222;
}

.nigth-mood{
  background: #222;
  color: #f8f8f8;
}


.cursor{
  cursor: pointer;
}

